@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,200;1,700&family=Russo+One&display=swap");

:root {
  --bg: #004225;
  --primary: #fdef96;
  --secondary: #f7b71d;
  --tirtary: #afa939;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: var(--primary);
  text-decoration: none;
}

body {
  background-color: var(--bg);
  max-width: 100dvw;
  max-height: 100dvh;
}

h1 {
  font-size: 3rem;
  color: var(--secondary);
  margin-bottom: 2rem;
}

h1 > span {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 700;
  margin: 1.6rem auto;
  text-align: center;
  text-wrap: pretty;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
}

/* utilities */

.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh;
}

.container > * {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* btn */

form button:disabled {
  cursor: not-allowed;
}

.button {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: mediumspringgreen solid 0.15em;
  border-radius: 0.25em;
  color: mediumspringgreen;
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  margin-bottom: 1.4rem;
  height: auto;
}

.button p,
.button a {
  z-index: 1;
}

.button:hover {
  color: #212121;
}

.button:active {
  border-color: teal;
}

.button::after,
.button::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: mediumspringgreen;
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.button::before {
  left: 0;
  transform: translateX(-8em);
}

.button::after {
  right: 0;
  transform: translateX(8em);
}

.button:hover:before {
  transform: translateX(-1em);
}

.button:hover:after {
  transform: translateX(1em);
}

.button:active:before,
.button:active:after {
  background: teal;
}

/* forms */

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form .button {
  margin: 1rem;
}

/* input */
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 20%; /* Adjusted for responsiveness */
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  letter-spacing: 1.6px;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

/* Media query laptop and desk screens */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 90%;
  }
}
/* tab */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 70%;
  }
}
/* hp */
@media only screen and (max-width: 767px) {
  html {
    font-size: 55%;
  }
  #question {
    font-size: 1.6em;
  }
  .choice-prefix {
    font-size: 1em;
    text-align: center;
  }
  .choice-text {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
  }
  .container {
    padding: 0.6rem;
  }
  .form-control {
    width: 50%; /* Adjusted for responsiveness */
  }
}
